input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:100px; width:100px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:25px;
	height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:20px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -20px;
}
label.css-label {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_556c71454f6569bef1b53ac2100c534d.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html, body {
	height: 100%;
	margin: 0;
}

#map {
	min-height: 100%; 
	cursor: auto;
}

#progress {
	display: none;
	position: absolute;
	z-index: 1000;
	left: 50%;
	top: 50%;
	width: 200px;
	height: 20px;
	margin-top: -20px;
	margin-left: -100px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	padding: 2px;
}

#progress-bar {
	width: 0;
	height: 100%;
	background-color: #ffff66;
	border-radius: 4px;
}

#settings-pane {
	border: 2px solid #000000;
	border-radius: 10px;
	position: absolute;
	background-color: black;
	opacity: 0.6;
	width: 350px;
	height: 600px;
	top: 20px;
	left: 20px;
	z-index: 1001;
}

#d3-pane {
	border: 2px solid #000000;
	border-radius: 10px;
	position: absolute;
	background-color: black;
	opacity: 0.6;
	width: 400px;
	top: 20px;
	right: 20px;
	bottom: 20px;
	z-index: 1001;
	color: red;
}

#seasons {
	position: absolute;
	background-color: clear;
	width: 300px;
	height: 70px;
	top: 40px;
	left: 40px;
	z-index: 1002;
}

#SpringButton {
	opacity: .9;
	background: url("../images/spring.png") no-repeat 0 0;
	background-size: 70px 70px;
	display: block;
	height: 70px;
	width: 70px;
	border-style:none;
	cursor: pointer;
	z-index: 10000;
}

#SummerButton {
	opacity: .9;
	background: url("../images/summer.png") no-repeat 0 0;
	background-size: 70px 70px;
	display: block;
	margin-left: 80px;
	margin-top: -70px;
	height: 70px;
	width: 70px;
	border-style:none;
	cursor: pointer;
	z-index: 10000;
}

#FallButton {
	opacity: .9;
	background: url("../images/fall.png") no-repeat 0 0;
	background-size: 70px 70px;
	display: block;
	margin-left: 160px;
	margin-top: -70px;
	height: 70px;
	width: 70px;
	border-style:none;
	cursor: pointer;
	z-index: 10000;
}

#WinterButton {
	opacity: .9;
	background: url("../images/winter.png") no-repeat 0 0;
	background-size: 70px 70px;
	display: block;
	margin-left: 240px;
	margin-top: -70px;
	height: 70px;
	width: 70px;
	border-style:none;
	cursor: pointer;
	z-index: 10000;
}
			